<a href="https://colab.research.google.com/github/Ryan456712/Python-Basics/blob/main/Copy_of_Fix_Broken_Code_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FIX BROKEN CODE EX -2

What's wrong with this code ? : <answer here> 1st line: only one bracket, 2nd line there was two =, 3rd line no brackets ans str

In [ ]:
def calculate_area (width, height):
    area = width * height;
    return "The area is: " + str(area)

print(calculate_area(5, 3))
# should output 15

The area is: 15

What's wrong with this code ? : <answer here>

In [ ]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n - 1)
        print("Calculating factorial...")

print(factorial(5))
# should output 120

120

What's wrong with this code ? : <answer here>3rd line wrong brackets around i

In [ ]:
items = ["apple", "banana", "cherry"]
for i in range(len(items)):
    print(items[i])
# should output :
  # apple
  # banana
  # cherry

apple
banana
cherry

What's wrong with this code ? : <answer here> 2nd line no brackets

In [ ]:
name = "Alice"
age = "25"
print("Name: " + name + ", Age: " + age)
# should output : Name: Alice, Age: 25

Name: Alice, Age: 25

What's wrong with this code ? : <answer here>3rd line rage not ranges and data_lists should be non plural. line 7 and 8 appen to append, 3rd line : at the end, got rid of +1 and -1 and fixed spelling mistakes

In [ ]:

# This function has multiple issues but is easier to debug.
def process_data(data_list):
    result = []
    for i in range(len(data_list)):
        if data_list[i] % 2 == 0:
            result.append("Even: " + str(data_list[i]))
        else:
            result.append("Odd: " + str(data_list[i]))

    return result

data = [1, 2, 3, 4, 5]
print(process_data(data))

# Expected Output (if errors are fixed):
# ['Odd: 1', 'Even: 2', 'Odd: 3', 'Even: 4', 'Odd: 5']

['Odd: 1', 'Even: 2', 'Odd: 3', 'Even: 4', 'Odd: 5']

What's wrong with this code ? : <answer here> 2nd line, deleted =, 4th line added ""

In [ ]:
def greet(name):
    return " Hello, " + name

print(greet("John"))
# should output : Hello, John

 Hello, John

What's wrong with this code ? : <answer here>

In [17]:
# This function processes customer orders and calculates discounts
def process_orders(orders):
    total_price = 0
    for order in orders:
        if "price" in order and "quantity" in order:
            total_price += order["price"] * order["quantity"]
        else:
            print("Invalid order: " + str(order))

    discount = 0.1 if total_price > 100 else 0.05
    final_price = total_price - total_price * discount
    return "Total after discount: " + str(final_price)

orders = [
    {"item": "Laptop", "price": 900, "quantity": 1},
    {"item": "Mouse", "price": 25, "quantity": 2},
    {"item": "Keyboard", "price": 50, "quantity": 1},
    {"item": "Monitor", "price": 30, "quantity": 1}
]

print(process_orders(orders))

# Expected Output (if errors are fixed):
# 'Total after discount: 927.0'

Total after discount: 927.0