<a href="https://colab.research.google.com/github/Ryan456712/Python-Basics/blob/main/Fix_Broken_Code_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FIX BROKEN CODE 1

In [10]:
print("Hello, world!")

Hello, world

What was the error ?
Answer : missed " at end of hello, world!

In [35]:
my_number = 10
print(my_number)

10

What was the error ?
Answer : There was 2 mm in my_number inside print

In [68]:
def greet():
    name = input("Enter your name: ")
    print("hello, " + name)

What was the error ?
Answer : syntax error on 2nd row

In [66]:
age = int(input("Enter your age: "))
print("Next year, you will be", age + 1)

Enter your age: 45
Next year, you will be 46

What was the error ?
Answer : added int before input and removed brackets around age + 1

In [79]:
def add_numbers(a, b):
    return a + b

print(add_numbers(5, 3))

8

What was the error ?
Answer : i removed the " from return a + b and (5,3) and coreccted spelling mistake from the print line

In [91]:
def multiply(x, y):
    return x * y

print(multiply(4, 2))

8

What was the error ?
Answer : i changed x and y to lower case and also put a * between them

In [94]:
numbers = [1, 2, 3, 4, 5]
for i in numbers:
    print(i)

1
2
3
4
5

What was the error ?
Answer : put : on the end of row 2 and put () aound i

In [98]:
student1 = {"name": "Alex", "age": 21}
print(student1["name"])

Alex

What was the error ?
Answer : renames student to student1, speeling error in print, " " around name in print line

In [101]:
def check_even(n):
    if n % 2 == 0:
        print("Even")
    else:
        print("Odd")

print(check_even(4))

Even
None

What was the error ?
Answer : brackets around check even(4) , two == instead of =