<a href="https://colab.research.google.com/github/Ryan456712/Python-Basics/blob/main/python_ex2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Exercises 2

## Exercise 1: Defining Functions
### Task:
Write a function called `greet` that takes a name as a parameter and returns "Hello, Yourname!".

In [9]:
def greet(name):
    return "Hello, " + name + "!"

print(greet("Ryan"))

Hello, Ryan!

## Exercise 2: Function with Default Parameter
### Task:
Write a function `power` that takes two arguments: a base and an exponent (default to 2). It should return the base raised to the exponent.

In [30]:
def power(base, exponent=2):
    return base ** exponent

result = power(3)
print(result)

result = power(2, 3)
print(result)

9
8

## Exercise 3: List Operations
### Task:
Create a list of five numbers. Write a loop to print each number in the list.

In [11]:
for i in range(1,6):
    print(i)

1
2
3
4
5


## Exercise 4: List Modification
### Task:
Write a function that takes a list and returns a new list with each element squared.

In [29]:
def square_list(list):
    new_list = []
    for i in list:
        new_list.append(i * i)
    return new_list

print(square_list([1,2,3,4,5,6,7,8,9,10]))
print(square_list([12,34,56,78,90]))
print(square_list([1,3,5,7,9]))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[144, 1156, 3136, 6084, 8100]
[1, 9, 25, 49, 81]

## Exercise 5: Looping through a Dictionary
### Task:
Create a dictionary with three key-value pairs representing a student's name, age, and grade. Write a loop to print each key and its corresponding value.

In [26]:
student = {"name":"Jhon", "age": 25, "grade": 12}
for key in student:
    print(key, student[key])

name Jhon
age 25
grade 12

## Exercise 6: Nested Loops
### Task:
Write a function that generates a multiplication table for numbers 1 through 5 using nested loops.

In [34]:
def multiplication_table():
    for i in range(1,6):
        for j in range(1,11):
            print(i, "x", j, "=", i*j)
        print("\n")

multiplication_table()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10


2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20


3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30


4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## Exercise 7: Filtering a List
### Task:
Write a function that takes a list of numbers and returns a new list containing only even numbers.

In [35]:
a = [1, 2, 3, 4, 5]

res = [num for num in a if num % 2 == 0]
print(res)

[2, 4]